@tailwind base;
@tailwind components;
@tailwind utilities;

/* for the body*/
body {
  margin: 0;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  background: url('/background2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Gradient overlay for the bottom half */
/* body::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  pointer-events: none;
  /* Allows clicks to pass through the overlay */
/* Additional styling for content on top of the image */



/* Heading Styles */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #d2cece;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f0eeee;
  margin-top: 1rem;

}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: rgb(255, 255, 255);
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: rgb(245, 241, 241);
}

h7 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  color: rgb(248, 243, 243);
}

p {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
  color: rgb(216, 212, 212);
}